.sell-block {
    background-color: plum; /* Example colorful background */
    padding: 50px 50px;
  }
  
  .sell-text {
    margin-left: -125px;
  margin-top: 75px;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(178, 144, 230);
  width: 118%;
  padding: 10px;
  height: 350px;
  margin: 50px;
  font-size: 80px;
  color: azure;
  }
  
  .stepp-card {
    background-color:#fce4ec; /* Light pink background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Grey shadow */
    margin-bottom: 20px;
  }
  
  .stepp-card h4 {
    font-size: 1.5rem; /* Example font size for step numbers */
    margin-bottom: 10px;
  }
  
  .stepp-card p {
    color: #333; /* Example text color */
    font-size: 1rem;
  }
  
  .stepp-header {
    display: flex;
    align-items: center;
  }
  
  .stepp-header h4 {
    margin-bottom: 0;
  }
  
  .stepp-header i {
    color:hotpink; /* Color for the pointer icon */
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .stepp-details {
    margin-top: 10px;
  }
  
  .stepp-icon {
    float: left;
    margin-right: 10px;
    color: #333; /* Icon color */
  }
  
  
  .space {
    height: 50px; /* Adjust as needed for spacing */
  }
  
  .btnn.btnn-primary {
    background-color: white;
    color:rgb(178, 144, 230);
    font-size: 40px;
    border: 2px solid rgb(178, 144, 230); /* Optional: To add a border matching the text color */
    padding: 10px 20px; /* Optional: To adjust the padding */
    border-radius: 5px; /* Optional: To round the corners */
    cursor: pointer; /* Optional: To change the cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Optional: To add a transition effect */
}

.btnn.btnn-primary:hover {
    background-color:#fce4ec;/* Optional: Change background color on hover */
    color: rgb(178, 144, 230); /* Optional: Change text color on hover */
}
  /* Additional styling can be added based on your design preferences */
  